html
  head
    meta(charset="UTF-8")
    title "Spotify Authentication"
  body
    script.
      window.opener.postMessage({
        token: '!{token}',
        spotify: !{JSON.stringify(spotify)},
      }, '!{host}');
      window.close();
